.tabPanel {
	background: red;
	display: block;
	border: 1px solid black;
}

.tabPanelTabs {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
}

.tabPanelTab {
	composes: button from '../button/button.css';
	display: inline-block;
	margin: 0;
	border: none;
	border-right: 1px solid black;
}

.tabPanelPanel {
	padding: 10px;
}

.tabPanelPanels {
	display: block;
	background: inherit;
}

.tabPanelActiveTab {
	background: green;
}
