@import '../../../styles/variables';

.tabPanel {
	display: block;
	border: 1px solid var(--dojo-border-color);
}

.tabPanelTabs {
	list-style: none;
	margin: 0;
	padding: var(--dojo-outer-margin);
	border-bottom: 1px solid var(--dojo-border-color);
}

.tabPanelTab {
	composes: button from '../../button/styles/button.css';
	display: inline-block;
	margin-right: var(--dojo-outer-margin);
	border-right: 1px solid var(--dojo-border-color);
}

.tabPanelTab.tabPanelActiveTab {
	background: var(--dojo-active-background);
}

.tabPanelPanel {
	padding: var(--dojo-input-padding);
}

.tabPanelPanels {
	display: block;
}
