.tabPanelTabs {
	border-bottom: 1px solid black;
	> li {
		padding: 10px;
		border-right: 1px solid black;
		&:hover {
			background: #6d6d6d;
		}
	}
}

.tabPanelActiveTab {
	background: #8d8d8d;
}

.tabPanelPanels {
	background: inherit;
}

.tabPanelPanel {
	padding: 10px;
}
